<form class="example-form" [formGroup]="findForm">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Teammate name</mat-label>
      <input matInput placeholder="Teammate name"
             name="search"
             [formControl]="searchControl">
    </mat-form-field>
    <br>
    <div class="teammate-div" *ngIf="teammate?.name else noData">
      ID: {{ teammate.id | json }}
      NAME: {{ teammate.name | json }}
      TEAM: {{ teammate.team | json }}
      WINS: {{ teammate.wins | json }}
      WINRATE: {{ teammate.winRate | json }}
      TOTAL GAMES PLAYED: {{ teammate.totalGamesPlayed | json }}
    </div>
  </div>
</form>

<ng-template #noData>
  <div>No teammates found!</div>
</ng-template>
