.items-nav-list {
  display: flex;
  flex-direction: row;
}
.mat-list-item-content {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}
section {
  flex-direction: row;
}

.button-row {
  justify-content: left;
  width: auto;
  /*justify-content: space-evenly;*/
  display: flex;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
