<div class="main">
  <div class="left">
    <button mat-button [routerLink]="['']">home</button>
    <button mat-button *ngIf="isUserLoggedIn" [routerLink]="['panel']">Admin Panel</button>
<!--    <button mat-button *ngIf="isUserLoggedIn" [matMenuTriggerFor]="belowMenu">Admin Panel</button>-->
<!--    <mat-menu #belowMenu="matMenu" yPosition="below">-->
<!--      <button mat-menu-item [routerLink]="['teammate/create']">Teammate Panel</button>-->
<!--      <button mat-menu-item [routerLink]="['team/create']">Team Panel</button>-->
<!--      <button mat-menu-item [routerLink]="['match/create']">Matchup Panel</button>-->
<!--    </mat-menu>-->
  </div>
  <div class="right">
    <button mat-raised-button
            [routerLink]="!isUserLoggedIn ? ['/login'] : []"
            (click)="!isUserLoggedIn ? null : onLogout()"
    >{{ !isUserLoggedIn ? 'Login' : 'Logout'}}
    </button>
  </div>
</div>
<app-item-bar *ngIf="isUserLoggedIn"></app-item-bar>
