<mat-drawer-container class="example-container" *ngIf="isUserLoggedIn else noData">
  <mat-drawer mode="side" opened>
    <a mat-button class="sidebar-button" (click)="switchPanel('teammate')"
       [class.selected]="currentPanel === 'teammate'">Teammate Panel
    </a>
    <a mat-button class="sidebar-button" (click)="switchPanel('team')"
       [class.selected]="currentPanel === 'team'">Team Panel
    </a>
    <a mat-button class="sidebar-button" (click)="switchPanel('matchup')"
       [class.selected]="currentPanel === 'matchup'">Matches Panel
    </a>
  </mat-drawer>
  <mat-drawer-content>
    <!--    Teammate tab-->
    <mat-tab-group *ngIf="currentPanel==='teammate'" [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Create Teammate">
        <app-create-teammate *ngIf="selectedTabIndex === 0"></app-create-teammate>
      </mat-tab>
      <mat-tab label="Update Teammate">
        <app-create-teammate *ngIf="selectedTabIndex === 1"></app-create-teammate>
      </mat-tab>
      <mat-tab label="Delete Teammate">
        <app-delete-teammate *ngIf="selectedTabIndex === 2"></app-delete-teammate>
      </mat-tab>
      <mat-tab label="Find Teammates">
        <div class="admin-panel-teammate-table">
          <app-teammate class="inner-list-content" *ngIf="selectedTabIndex === 3"></app-teammate>
        </div>
        <div class="admin-panel-single-teammate">
          <!--                    <h1 class="upper-heading">Find teammate by name</h1>-->
          <app-teammate-detail *ngIf="selectedTabIndex === 3"></app-teammate-detail>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--  Team tab  -->
    <mat-tab-group *ngIf="currentPanel==='team'" [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Create Team">
        <app-team-create *ngIf="selectedTabIndex === 0"></app-team-create>
      </mat-tab>
      <mat-tab label="Add player to team">
        <app-teammate-to-team *ngIf="selectedTabIndex === 1"></app-teammate-to-team>
      </mat-tab>
      <mat-tab label="Update Team">
        <app-create-teammate *ngIf="selectedTabIndex === 2"></app-create-teammate>
      </mat-tab>
      <mat-tab label="Delete Team">
        <app-delete-teammate *ngIf="selectedTabIndex === 3"></app-delete-teammate>
      </mat-tab>
      <mat-tab label="Find Teams">
        <div class="admin-panel-team-table">
          <app-team *ngIf="selectedTabIndex === 4"></app-team>
        </div>
        <div class="admin-panel-single-team">
          <!--                    <h1 class="upper-heading">Find teammate by name</h1>-->
          <app-team-detail *ngIf="selectedTabIndex === 4"></app-team-detail>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--  Matchup tab  -->
    <mat-tab-group *ngIf="currentPanel==='matchup'" [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Create Match">
        <app-create-teammate *ngIf="selectedTabIndex === 0"></app-create-teammate>
      </mat-tab>
      <mat-tab label="Update Match">
        <app-create-teammate *ngIf="selectedTabIndex === 1"></app-create-teammate>
      </mat-tab>
      <mat-tab label="Delete Match">
        <app-delete-teammate *ngIf="selectedTabIndex === 2"></app-delete-teammate>
      </mat-tab>
      <mat-tab label="Find Matches">
        <div class="admin-panel-matches-table">
          <app-matches *ngIf="selectedTabIndex === 3"></app-matches>
        </div>
        <div class="admin-panel-single-match">
          <app-matches-detail *ngIf="selectedTabIndex === 3"></app-matches-detail>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #noData>
  <div>
    No access!
  </div>
</ng-template>
