<h2>List of Players</h2>
<div class="outer">
    <input placeholder="Teammate name" name="search" class="search"
           [formControl]="searchControl">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Total Games Played</th>
            <th>Wins</th>
            <th>Win Rate</th>
            <th>Team</th>
        </tr>
        <tr *ngFor='let teammate of filteredTeammates'>
            <td> {{ teammate.id }}</td>
            <td> {{ teammate.name }}</td>
            <td> {{ teammate.totalGamesPlayed }}</td>
            <td> {{ teammate.wins }}</td>
            <td> {{ teammate.winRate }}</td>
            <td> {{ teammate.team }}</td>
        </tr>
    </table>
    <!--  <div class="inner">-->
    <!--    <table mat-table [dataSource]="teammates" class="mat-elevation-z8">-->

    <!--      <ng-container matColumnDef="id">-->
    <!--        <th mat-header-cell *matHeaderCellDef> ID</th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
    <!--      </ng-container>-->

    <!--      &lt;!&ndash; Name Column &ndash;&gt;-->
    <!--      <ng-container matColumnDef="name">-->
    <!--        <th mat-header-cell *matHeaderCellDef> Name</th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
    <!--      </ng-container>-->

    <!--      &lt;!&ndash; Weight Column &ndash;&gt;-->
    <!--      <ng-container matColumnDef="totalGamesPlayed">-->
    <!--        <th mat-header-cell *matHeaderCellDef> Total Games Played</th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element.totalGamesPlayed}} </td>-->
    <!--      </ng-container>-->

    <!--      <ng-container matColumnDef="wins">-->
    <!--        <th mat-header-cell *matHeaderCellDef> Wins</th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element.wins}} </td>-->
    <!--      </ng-container>-->

    <!--      <ng-container matColumnDef="winRate">-->
    <!--        <th mat-header-cell *matHeaderCellDef> Winrate</th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element.winRate}} </td>-->
    <!--      </ng-container>-->

    <!--      <ng-container matColumnDef="team">-->
    <!--        <th mat-header-cell *matHeaderCellDef> Team</th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element.team}} </td>-->
    <!--      </ng-container>-->

    <!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <!--      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
    <!--    </table>-->
    <!--  </div>-->
</div>
<ng-template #unauthorized>
    <div>No access!</div>
</ng-template>

<ng-template #noData>
    <div>No teammates found!</div>
</ng-template>
